<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">Recherche des Citoyens par Centre de Vaccination</div>
            <div class="card-body" mt-5>
                <form th:action="@{/ListCentreVaccination}" method="get">
                    <label for="centreNom">Nom du Centre de Vaccination:</label>
                    <input type="text" id="centreNom" name="centreNom">
                    <button type="submit">Rechercher</button>
                </form>
                <div th:if="${centre != null}" class="card">
                    <div class="card-header">Centre Vaccination</div>
                    <div class="card-body" mt-5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <td>Adresse</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${centre.id}"></td>
                                <td th:text="${centre.nom}"></td>
                                <td th:text="${centre.adresse}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:if="${citoyens != null and not #lists.isEmpty(citoyens)}">
                    <h3>Citoyens associés au Centre de Vaccination :</h3>
                    <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${citoyens}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div th:if="${centre != null}" class="card">
                <div th:if="${citoyens != null and #lists.isEmpty(citoyens)}">
                    <p style="text-align: center">Aucun citoyen trouvé pour le Centre de Vaccination spécifié.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>